.navbar1 {
	background-color: white !important; 

}

 
.navbar-nav {
  margin-left: auto; /* Push the links to the right */
}

/* Adjusting the spacing between navigation links */
.nav-item {
  margin-right: 15px; /* Add some space between links */
}

.imageNavbar1 {
	height : 50px ; 
	width : 200px  ;
}

.icons {
	color : #6BAFEB ; 
	font-size: 20px;
}

.nav-item {
	font-size : 14px ; 
}

.buttonsNavbar {
	background-color: white;
	width : 15%;
	height : 35px ;
	border : none ; 
}

.buttonsNavbar:hover {
	background-color: #C0C0C0;
}
