.navbar1 {
	background-color: white !important; 

}

 
.navbar-nav {
  margin-left: auto; /* Push the links to the right */
}

/* Adjusting the spacing between navigation links */
.nav-item {
  margin-right: 15px; /* Add some space between links */
}

.imageNavbar1 {
	height : 50px ; 
	width : 200px  ;
}

.icons {
	color : #6BAFEB ; 
	font-size: 20px;
}

.nav-item {
	font-size : 14px ; 
}

.buttonsNavbar {
	background-color: white;
	width : 15%;
	height : 35px ;
	border : none ; 
}

.buttonsNavbar:hover {
	background-color: #C0C0C0;
}


.firstTitle {
	font-size : 35px ; 
	color : #6BAFEB ; 
	margin-top: 20px;
}
.firstParag {
	font-size : 24px ;   
	color : #737373 ; 
	margin-bottom : 30px ;
}

.paragImages {
	margin-top : 10px ; 
	color : #737373 ; 

}

.paragImages2 {
	margin-top : 50px ; 
	color : #737373 ; 
	font-size : 24px ; 
	margin-bottom: 10px;
}

.hrefsFooter{
	text-decoration: none; 
	font-size: 13px; 
	margin-left : 20px ;  
	color : #6BAFEB ;
}

.hrefsFooter2{
	text-decoration: none; 
	font-size: 13px; 
	margin-left : 20px ;
	color : black ;   
}